@{
    ViewBag.Title = "Donde Cargo Nafta";
}

<h1>Mapa</h1>
<div id="map" style=" height: 400px; width: 100%;"></div>

<script>
        function initMap() {
            var Rosario = { lat: -32.9507, lng: -60.6665 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: Rosario
            });
            var marker = new google.maps.Marker({
                position: Rosario,
                map: map
            });
        }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwHAf2L2j-7mCjh9ArSAxCLvNdUxgp-Hg&callback=initMap">
</script>