@model IEnumerable<DondeCargoNafta.Entities.Station>
@{
    ViewBag.Title = "Donde Cargo Nafta";
}
<div id="map"></div>
<script>
    var map;
    function initMap() {

        var Rosario = { lat: -32.9507, lng: -60.6665 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: Rosario
        });

        var iconBase = '/images/';
        var icons = {
            AXION: {
                icon: iconBase + 'axion.png'
            },
            ESSO: {
                icon: iconBase + 'esso.png'
            },
            OIL: {
                icon: iconBase + 'oil.png'
            },
            OTHER: {
                icon: iconBase + 'otras.png'
            },
            PETROBRAS: {
                icon: iconBase + 'otras.png'
            },
            SHELL: {
                icon: iconBase + 'shell.png'
            },
            YPF: {
                icon: iconBase + 'ypf.png'
            }
        };

        var features = [];

        @foreach(var station in Model)
        {
            <text>
                var feature = 
                    {
                        position: new google.maps.LatLng(@station.Coordinates.Latitude, @station.Coordinates.Longitude),
                        type: '@station.Brand.BrandName',
                        description: '@station.StationName'
                    }

                features.push(feature);
            </text> 
        }

    //        < div class="bubbleContent" >
    //            <p>Nombre: <b>YPF Oroño</b></p>
    //            <p>Direccion: <b>Oroño y 3 de Febrero</b></p>
    //            <p>Bandera: <b>YPF</b></p>
    //            <div class="prices">
    //                <p>Precios</p>
    //                <p>Super: <i>$22.50</i></p>
    //                <p>Premium: <i>No Disponible</i></p>
    //                <p>Diesel: <i>No Disponible</i></p>
    //            </div>
    //            <input type="button" class="btn btn-success btn-block" value="Rate" />
    //</div>

            // Create markers.
            features.forEach(function (feature) {
                var marker = new google.maps.Marker({
                position: feature.position,
                icon: icons[feature.type].icon,
                map: map
                });
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwHAf2L2j-7mCjh9ArSAxCLvNdUxgp-Hg&callback=initMap">
</script>